body {
    font-family: Arial, sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?nature'); /* Background image */
    background-size: cover;
    background-position: center;
    
    margin: 0;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* White background with transparency */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: #d21c1c;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ba1212;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}